doctype html
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title Application
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body(ng-app='application')
    application
    script(src='app/main.js')